.detailSection {
  width: 100%;
}

.titleSection {
  width: 100%;
  height: 15%;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contentSection {
  width: 50%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
