.sidebar {
  min-width: fit-content;
  width: 20%;
  padding: 0 0.6rem 0.6rem 0.6rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  scrollbar-color: var(--light) var(--dark);
}
