.detailSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1.2rem;
}

.topSection {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-height: 3rem;
  padding: 0.6rem 0;
  background-color: var(--dark);
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  height: 15%;
}

.contentSection {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  height: 100%;
}

input,
textarea {
  background-color: var(--dark);
  color: var(--white);
  font-family: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4rem;
  border: 1px solid var(--light);
  border-radius: 7px;
}

input[type="text"] {
  height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

textarea {
  resize: vertical;
  height: 100%;
}

.actionSection {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.6rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light);
  border-radius: 7px;
  color: var(--white);
  background-color: var(--dark);
  font-family: inherit;
  cursor: pointer;
  height: 1.4rem;
  padding: 0.8rem;
}

button:hover {
  background-color: var(--light);
}
