html {
  box-sizing: border-box;
  --white: #eeeeee;
  --dark: #111111;
  --light: #222222;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--dark);
}

body {
  display: flex;
  gap: 1.2rem;
}

main {
  width: 100%;
  height: 100%;
  padding: 1.2rem 1.2rem 1.2rem 0.6rem;
  overflow: auto;
  scrollbar-color: var(--light) var(--dark);
}

#addForm {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  max-height: 3rem;
  padding: 0.6rem 0;
  background-color: var(--dark);
}

#editForm {
  width: 100%;
  height: 100%;
}

.addNewNote,
.noteEditBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--dark);
  font-family: inherit;
  cursor: pointer;
  height: 1.4rem;
  padding: 0.8rem;
}

.addNewNote:hover,
.noteEditBtn:hover {
  background-color: var(--light);
}
