html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

body {
  display: flex;
  gap: 1.2rem;
}

main {
  width: 100%;
  padding: 1.2rem;
}
