li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 4rem;
  padding: 0.6rem;
  border-radius: 7px;
  font-size: 0.9rem;
}

.noteHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: #222222;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

.titleLink {
  font-weight: 600;
}

.info span {
  font-size: 0.8rem;
  color: #b4b4b4;
}
